<div class="form-inline">
  <%= form_tag restaurants_path, method: :get, style:"width:100%"  %>
  <%= text_field_tag :query, params[:query], class: 'form-control', style:"width:50%", placeholder: 'Search restaurants' %><%=  submit_tag 'Go', class: 'btn btn-success' %>
</div>
