<div class="form-in">
  <div class="search">
    <%= form_tag restaurants_path, method: :get , class: "d-flex" %>
    <%= text_field_tag :query, params[:query], class: 'form-control flex-grow-1', placeholder: 'Cuisines, restaurants and ratings' %>
    <%= button_tag(type: "submit", class: "no-button") do %>
    <i class="fas fa-search"></i>
    <% end %>
</div>
</div>
