<div class="form-in">
  <div class="search">
    <%= form_tag restaurants_path, method: :get  %>
  </div>
    <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Cuisines, restaurants and ratings' %>
    <%= submit_tag "GO" %>
</div>







