.fav-header {
  color: #21295C;
  text-align: left !important;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  font-family: Montserrat;
  margin-left: 18px;
}


.map-fav {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.back-link {
  display: flex;
  justify-content: flex-end;
  color: #21295C;
  text-decoration: underline;
  margin: 18px;
  font-size: 18px;
}
