@import "home";

p {
  margin-top: 0px;
  margin-bottom: 6px;
}

.breadcrumb {

  background-color: rgb(244,244,244);
  margin-bottom: 0px;
}

.container {

  text-align: left;
  padding-left: 0px;
  margin-left: 8px;
}

.ul {
  margin-left: 0px;
  padding-left: 0px;
}

.span {
  margin: 0px; 
  padding: 0px;
}

.star {
  padding-top: 4px;
}

.mg-left {
  margin-left: 12px;
}