@import "home";

p {
  margin-top: 0px;
  margin-bottom: 6px;
  color: #293241;
}

h1 {
  color: #21295C;
  margin-top: 0px !important;
  text-align: left !important;
  margin-bottom: 0px;
}

h3 {
  color: #21295C;
  font-size: 18px;
  padding: 8px 0px;
  margin-bottom: 4px;
}

p a{
  text-decoration: none;
  color: #3C896D;
  padding-left: 3px;
  justify-content: space-between;
}

.breadcrumb {

  background-color: rgb(244,244,244);
  margin-bottom: 0px;
}

.container {

  text-align: left;
  padding-left: 0px;
  align-items: center;
  margin-left: 8px;
}

.ul {
  margin-left: 0px;
  padding-left: 0px;
}

.span {
  margin: 0px;
  padding: 0px;
}

.star {
  padding-top: 4px;
}

#email {
  font-size: 14px;
  color: #3C896D;
  padding-top: 4px;
  background-color: transparent;
}

.mg-left {
  margin-left: 8px;
}

.icon {
  height: 32px;
  border-radius: 50%;
}

.badge {
  background-color: #E0FBFC !important;
  padding: 6px;
}

.text-cont {
  border-left: #293241 solid 1px;
  padding: 4px 8px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 12px;
}

.address {
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 0;
  border-left: #293241 solid 1px;
}

.centered {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.card {
  background-color: transparent;
  border: none;
  border-radius: 8px;
}

.card-trip {
  padding: 8px;
}

.card-trip p {
  font-size: 16px;
  opacity: 1;
  margin: 0px;
}

#map {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 16px;
}

.button-big a {
  color: #E0FBFC !important;
  text-decoration: none;
  font-family: $headers-font;
  font-weight: lighter;
  font-size: 20px;
}



// Popup CSS

.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  background: #b7b7b7;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
&.active {
  // background: $brand-primary;
  color: white;
  opacity: 1;
  }
}

.test {
  position: absolute;
  transform: scale(0);
}
.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #7E73FF;
  color: white;
}
.modal-title h5 {
  text-align: center;
}

.modal-content {
  border-radius: 15px;
}

.modal-title {
  border-radius: 420px;
  text-align: center;
}

.col-form-label {
  color: black;
}

.center-div {
  margin-left: 130px;
}

.sm-tag {
  padding-bottom: 16px;
}

.align-left {
  align-items: left;
  text-align: left;
}


.nxt-each {
  display: flex;
  justify-content: space-between;
}

.share-btn {
  border: none;
  text-decoration: underline;
  color: black;
  background-color: transparent;
  margin-bottom: 0px;
  padding-right: 8px;
}
