<div class="footer">
  <p>Follow us for daily bites</p>
  <div class="footer-social">
    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
  </div>

  <div class="footer-links m-4">
    <%= link_to "About us" %>
    <%= link_to "FAQ" %>
    <%= link_to "Contact" %>
  </div>

  <div class="footer-copyright">
    <i class="far fa-copyright"> <%= Date.today.year %> Business Bites</i>
  </div>
</div>
