<div class="footer">
  <div class="footer-links m-2">
    <%= link_to "About us" %>
    <%= link_to "FAQ" %>
    <%= link_to "Contact" %>
  </div>

  <div class="footer-copyright">
    <i class="far fa-copyright"> <%= Date.today.year %> </i>
  </div>
</div>
