.button-big {
  width: 85%;
  padding: 12px 24px;
  border-radius: 4px;
  background: #3C896D;
  text-align: center;
}

.button-big a {
  color: #E0FBFC;
  text-decoration: none;
  font-family: $headers-font;
  font-weight: lighter;
  font-size: 20px;
}


