.button-big {
  width: 85%;
  padding: 12px 24px;
  border-radius: 4px;
  background: #21295C;
  text-align: center;
}

.button-big a {
  color: #E0FBFC !important;
  text-decoration: none;
  font-family: $headers-font;
  font-weight: lighter;
  font-size: 20px;
}


