.button-small {
  width: 50%;
  color: #E0FBFC;
  padding: 12px 24px;
  border-radius: 4px;
  background: #21295C;
  text-align: center;
 }

.button-small a {
  color: #E0FBFC;
  text-decoration: none;
  font-family: $headers-font;
  font-weight: lighter;
  font-size: 20px;
}
