.card-trip {
  overflow: hidden;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  // box-shadow: 2px 2px 8px #888888;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;

}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  position: 20px 50px 50px 50px;
}


.card-trip .card-trip-infos {
  padding: 16px;
  padding-top: 10px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: black;
} h2, li {
  text-decoration: none;
  list-style-type: none;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.restaurantlist {
  padding-left: 0px;
}

.index {
  margin-top: 30px;
  margin-left: 16px;
  margin-right: 16px;
}

.header {
  margin-bottom: 30px;
  display: flex;
}

.restaurantlist {
  margin: 0px 20px;

}

.restaurantlist img {
  border-radius: 15px;

}
