.footer {
  background: #293241;
  align-items: center;
  height: 200px;
  padding: 0px 50px;
  color: #98C1D9;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: $body-font;
  width: 100% !important;
}

.footer p {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-links a{
  color: #98C1D9;
  text-decoration: underline;
  font-size: 16px;
  padding: 0px 14px;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-social a{
  color: #98C1D9;
  text-decoration: none;
  font-size: 18px;
  padding: 4px 14px;
}

.footer-links a:hover {
  opacity: 0.5;
}

.footer-copyright {
  color: #98C1D9;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-around;
}
