.navbar-lewagon {
  justify-content: space-between;
  background: #98C1D9;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-header {
  color: #293241;
  font-variant: small-caps;
  font-size: 24px;
}
