.navbar-lewagon {
  justify-content: space-between;
  background: #293241;
  font-family: $headers-font;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-header {
  color: #98C1D9;
  font-variant: small-caps;
  font-size: 24px;
}

#text {
  color: #98C1D9;
  font-weight: lighter;
}

.margin-nav {
  margin: 0 !important;
}
