.index {
  height: 350px;
  position: relative;
  padding-top: -10px;
}

.search {
  width: 100%;
  z-index: 9;
  margin-top: 22px;
}

.form-in {
  display: flex;
}

.order-2 {
  background-color: white;
  border-color: transparent;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid #ced4da;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 22px;
  z-index: 9;
}

.fa-filter {
  color: black;
  margin-right: 10px;
  padding-top: 11px;
  padding-left: 6px;
}

.form-control {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-custom {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  z-index: 9;
}

#search-bar {
  flex-grow: 4;
}

.button {
  border-left: 0px;
}

.no-button {
background-color: white;
border-color: transparent;
box-shadow: none;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
border: 1px solid #ced4da;
border-left: 0px;
border-right: 0px;
}

#query {
  border-right: 0px;
}

.fa-search {
  padding-right: 6px;
}
