.search {
 width: 100%;

}

.go {
  border-color: red;

}

.form-in {
  display: flex;
}

.order-2 {

  color: black;
}

.fa-filter {
  color:#3C896D;
}

.form-control {
  border-radius: 10px;
}

.search-custom {
  display: flex;
  justify-content: space-between;
}
#search-bar {
  flex-grow: 4;
}
