// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/restaurant";

html, body {
  height: 120%;
}

body {
  display: flex;
  flex-direction: column;
}

.absolute-navbar {
  position: sticky;
  top: 0;
  width: 100%;
}

.content {
  flex: 1 0 auto;
}

.absolute-footer {
  flex-shrink: 0;
}



